# MongoDB Connection
MONGO_DB_URI=mongodb+srv://string-hack:A@cluster0.xplsxop.mongodb.net/?appName=Cluster0

# ImgBB API
IMGBB_API_KEY=b5b3a09cb68c14296a3cc53b110096c4

# Telegram Bot
BOT_TOKEN=your_telegram_bot_token

# Optional
DEBUG=false
